$main-font: 'Poppins';
$sub-font: 'Open Sans';

* {
    font-family: $main-font;
}

*, *::before, *::after {
    box-sizing: border-box;
}

%join-button {
    border: none;
    background: none;
    padding: 15px;
    background-color: #D68B57;
    color: #fff;
    width: 100%;
    border-radius: 5px;
}

%order-button {
    border: none;
    background: none;
    background-color: #D68B57;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
}

